tracker_live_fnk0103s/libraries/lvgl/
tracker_live_fnk0103s/libraries/ESP8266Audio/
tracker_live_fnk0103s/libraries/ElegantOTA/
tracker_live_fnk0103s/libraries/TFT_Touch/
tracker_live_fnk0103s/libraries/TJpg_Decoder/
